<div class="container">
  <form [formGroup]="loginform" (ngSubmit)="loginSubmitted()"  class="border p-3">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3"> Login </span>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <label for="loginName" class="form-lable"> LoginName</label>
          <input type="loginName" class="form-control" name="loginName" id="loginName"
          formControlName="loginName"> 
          <div class="form-text text-danger" *ngIf="LoginName.errors?.['required'] && (LoginName.dirty ||LoginName.touched)">
            LoginName is required
          </div>

          <label for="password" class="form-lable"> Password</label>
          <input type="password" class="form-control" name="" id="password"
          formControlName="password">
        </div>
      </div>
      <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary"> Submit</button>
            </div>
        </div>
    </div>
  </form>
</div>